<main class="home-page container mt-5">
  <div class="row mb-2">
  <% if (locals.books) { %>
    <% for (let i = 0; i < books.length; i++) { %>
      
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <!-- book tags -->
            <% const splitTag = books[i].subjects[0].split("-- ") %>
            <em class=""><%= splitTag[splitTag.length - 1] ? splitTag[splitTag.length - 1] : splitTag[0] %></em>
            <em class="mb-2 "><%= books[i].bookshelves[0] %></em>

            <!-- book title -->
            <h2 class="mb-0"><%= books[i].title %></h2>

            <!-- authors -->
            <div class="text-body-secondary"><%= books[i].authors[0].name %></div>
            <div class="text-body-secondary"><%= books[i].authors[1]?.name %></div>

            <!-- link to book -->
            <a
              href="books/<%= books[i].id %>"
              class="icon-link gap-1 icon-link-hover stretched-link mt-auto"
            >
              Go to book
              <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
          
          <div class="col-auto d-none d-lg-block">
            <img class="thumbnail" src="<%= books[i].formats["image/jpeg"] %>" alt="book thumbnail" />
          </div>
        </div>
      </div>

    <% } %>
  <% } %>
  
  </div>
</main>
